<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>controller.Changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgotpass</servlet-name>
        <servlet-class>controller.Forgotpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>controller.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperServlet</servlet-name>
        <servlet-class>controller.ShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowShipperDelete</servlet-name>
        <servlet-class>controller.ShowShipperDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShipperServlet</servlet-name>
        <servlet-class>controller.AddShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreShipperServlet</servlet-name>
        <servlet-class>controller.RestoreShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePermanentlyShipperServlet</servlet-name>
        <servlet-class>controller.DeletePermanentlyShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptServlet</servlet-name>
        <servlet-class>controller.AcceptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>controller.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxManageP</servlet-name>
        <servlet-class>controller.AjaxManageP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockBServlet</servlet-name>
        <servlet-class>controller.BlockBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockCServlet</servlet-name>
        <servlet-class>controller.BlockCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>controller.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCServlet</servlet-name>
        <servlet-class>controller.AddCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CanceledServlet</servlet-name>
        <servlet-class>controller.CanceledServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletedServlet</servlet-name>
        <servlet-class>controller.CompletedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdateServlet</servlet-name>
        <servlet-class>controller.ConfirmUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBServlet</servlet-name>
        <servlet-class>controller.DeleteBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePermanentlyStaffServlet</servlet-name>
        <servlet-class>controller.DeletePermanentlyStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayFeedbackStar</servlet-name>
        <servlet-class>controller.DisplayFeedbackStar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>controller.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>controller.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderAcceptServlet</servlet-name>
        <servlet-class>controller.ListOrderAcceptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderCanceledServlet</servlet-name>
        <servlet-class>controller.ListOrderCanceledServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderCompletedServlet</servlet-name>
        <servlet-class>controller.ListOrderCompletedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderServlet</servlet-name>
        <servlet-class>controller.ListOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGG</servlet-name>
        <servlet-class>controller.LoginWithGG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBlogServlet</servlet-name>
        <servlet-class>controller.ManageBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MangeProductServlet</servlet-name>
        <servlet-class>controller.MangeProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterWithGG</servlet-name>
        <servlet-class>controller.RegisterWithGG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreBServlet</servlet-name>
        <servlet-class>controller.RestoreBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreCServlet</servlet-name>
        <servlet-class>controller.RestoreCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreStaffServlet</servlet-name>
        <servlet-class>controller.RestoreStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlockedStaffServlet</servlet-name>
        <servlet-class>controller.SearchBlockedStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjax</servlet-name>
        <servlet-class>controller.SearchByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffServlet</servlet-name>
        <servlet-class>controller.SearchStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTPServlet</servlet-name>
        <servlet-class>controller.SendOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStaffDelete</servlet-name>
        <servlet-class>controller.ShowStaffDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>controller.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistical2Servlet</servlet-name>
        <servlet-class>controller.Statistical2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalServlet</servlet-name>
        <servlet-class>controller.StatisticalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddressServlet</servlet-name>
        <servlet-class>controller.UpdateAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvatar</servlet-name>
        <servlet-class>controller.UpdateAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrand</servlet-name>
        <servlet-class>controller.UpdateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserEmailServlet</servlet-name>
        <servlet-class>controller.CheckUserEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistical3Servlet</servlet-name>
        <servlet-class>controller.Statistical3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTrackingServlet</servlet-name>
        <servlet-class>controller.OrderTrackingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>controller.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>controller.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgotpass</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperServlet</servlet-name>
        <url-pattern>/shipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowShipperDelete</servlet-name>
        <url-pattern>/showshipperblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShipperServlet</servlet-name>
        <url-pattern>/addshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreShipperServlet</servlet-name>
        <url-pattern>/restoreshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePermanentlyShipperServlet</servlet-name>
        <url-pattern>/deletepermanentlyshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptServlet</servlet-name>
        <url-pattern>/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/addstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxManageP</servlet-name>
        <url-pattern>/ajaxproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockBServlet</servlet-name>
        <url-pattern>/blockb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockCServlet</servlet-name>
        <url-pattern>/blockc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCServlet</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CanceledServlet</servlet-name>
        <url-pattern>/canceled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletedServlet</servlet-name>
        <url-pattern>/completed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUpdateServlet</servlet-name>
        <url-pattern>/confirmUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBServlet</servlet-name>
        <url-pattern>/deletebrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePermanentlyStaffServlet</servlet-name>
        <url-pattern>/deletepermanentlystaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/deletestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayFeedbackStar</servlet-name>
        <url-pattern>/feedbackbystar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/editblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderAcceptServlet</servlet-name>
        <url-pattern>/listorderaccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderCanceledServlet</servlet-name>
        <url-pattern>/listordercaneled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderCompletedServlet</servlet-name>
        <url-pattern>/listordercompleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderServlet</servlet-name>
        <url-pattern>/listorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGG</servlet-name>
        <url-pattern>/logingg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBlogServlet</servlet-name>
        <url-pattern>/manageblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MangeProductServlet</servlet-name>
        <url-pattern>/manageproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterWithGG</servlet-name>
        <url-pattern>/ggregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreBServlet</servlet-name>
        <url-pattern>/restoreb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreCServlet</servlet-name>
        <url-pattern>/restorec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreStaffServlet</servlet-name>
        <url-pattern>/restorestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlockedStaffServlet</servlet-name>
        <url-pattern>/searchblockedstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjax</servlet-name>
        <url-pattern>/searchbyajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffServlet</servlet-name>
        <url-pattern>/searchstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTPServlet</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStaffDelete</servlet-name>
        <url-pattern>/showstaffblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistical2Servlet</servlet-name>
        <url-pattern>/statistical2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalServlet</servlet-name>
        <url-pattern>/statistical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddressServlet</servlet-name>
        <url-pattern>/updateaddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvatar</servlet-name>
        <url-pattern>/updateavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrand</servlet-name>
        <url-pattern>/updatebrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/updatecate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserEmailServlet</servlet-name>
        <url-pattern>/checkUserEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistical3Servlet</servlet-name>
        <url-pattern>/statistical3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTrackingServlet</servlet-name>
        <url-pattern>/ordertracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
</web-app>
