<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>controller.Changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgotpass</servlet-name>
        <servlet-class>controller.Forgotpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>controller.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperServlet</servlet-name>
        <servlet-class>controller.ShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowShipperDelete</servlet-name>
        <servlet-class>controller.ShowShipperDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShipperServlet</servlet-name>
        <servlet-class>controller.AddShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreShipperServlet</servlet-name>
        <servlet-class>controller.RestoreShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePermanentlyShipperServlet</servlet-name>
        <servlet-class>controller.DeletePermanentlyShipperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgotpass</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperServlet</servlet-name>
        <url-pattern>/shipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowShipperDelete</servlet-name>
        <url-pattern>/showshipperblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShipperServlet</servlet-name>
        <url-pattern>/addshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreShipperServlet</servlet-name>
        <url-pattern>/restoreshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePermanentlyShipperServlet</servlet-name>
        <url-pattern>/deletepermanentlyshipper</url-pattern>
    </servlet-mapping>
</web-app>
